<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyDB_WPM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CopyDB_WPM.Properties.Settings>
            <setting name="origin_DataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="origin_InitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="origin_UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="origin_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="copy_DataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="copy_InitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="copy_UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="copy_Password" serializeAs="String">
                <value />
            </setting>
        </CopyDB_WPM.Properties.Settings>
    </userSettings>
</configuration>